.errorview {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 24px;
}
.errorview .errorbox {
  width: 100%;
  max-width: 400px;
}
.homesection {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
}
.homescreen {
  width: 100%;
  max-width: 470px;
}
.homescreen h3 {
  text-align: center;
}
.homescreen h3 mark {
  background: transparent;
  color: #ffffff;
  padding: 4px 12px;
  font-size: 36px;
  font-weight: bold;
}
.homescreen h3 mark::before {
  content: " ";
  position: absolute;
  width: 200px;
  height: 54px;
  background-color: #603dfe;
  transform: rotate(-4deg);
  z-index: -1;
  margin-left: -10px;
  margin-top: -2px;
}
.homescreen .listbtn {
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.homescreen .listbtn md-filled-tonal-button {
  font-weight: bold;
  margin: 0px 4px;
}
.homescreen .gist-file {
  box-shadow: rgba(0,0,0,0.4) 0px 2px 5px;
  padding-top: 9px;
}
.checkup {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
}
.checkup .testprogress {
  width: 100%;
  max-width: 400px;
  margin: auto;
}
.checkup .testprogress .testresult {
  width: 100%;
  height: 100px;
  display: flex;
}
.checkup .testprogress .testresult .icon {
  width: 55px;
  display: flex;
  justify-content: center;
}
.checkup .testprogress .testresult .icon .circle {
  width: 45px;
  height: 45px;
  border-radius: 45px;
  border: 1px solid #bbbbbb;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-size: 20px;
}
.checkup .testprogress .testresult .icon .circle::after {
  content: " ";
  position: absolute;
  width: 2px;
  height: calc(100px - 45px);
  margin-top: calc(calc(100px - 45px) + 45px);
  background-color: #bbbbbb;
}
.checkup .testprogress .testresult.lasttest .icon .circle::after {
  display: none;
}
.checkup .testprogress .testresult .icon .circle .material-symbols-outlined {
  display: none;
  font-size: 27px;
}
.checkup .testprogress .testresult[status="finis"] .icon .circle .material-symbols-outlined {
  display: inline-block;
}
.checkup .testprogress .testresult[status="finis"] .icon .circle {
  background-color: #08fa00;
  border-color: #07c700;
  color: #ffffff;
}
.checkup .testprogress .testresult[status="finis"] .icon .circle::after {
  background: #07c700;
}
.checkup .testprogress .testresult[status="finis"] .icon .circle b {
  display: none;
}
.checkup .testprogress .testresult[status="finis"] .text h3 {
  color: #07c700;
}
.checkup .testprogress .testresult[status="error"] .icon .circle {
  background-color: #fa0000;
  border-color: #d80000;
  color: #ffffff;
}
.checkup .testprogress .testresult[status="error"] .icon .circle::after {
  background: #d80000;
}
.checkup .testprogress .testresult[status="error"] .text h3 {
  color: #d80000;
}
.checkup .testprogress .testresult .text {
  width: calc(100% - 55px);
  padding: 0px 6px;
}
.checkup .testprogress .testresult .text h3 {
  margin-top: 10px;
  margin-bottom: 11px;
}
.checkup .testprogress .testresult .text p {
  margin: 0px;
}
.chatrespon {
  width: 100%;
  max-width: 600px;
  margin: auto;
}
.chatrespon header {
  width: 100%;
  height: 65px;
  position: sticky;
  top: 0px; left: 0;
  z-index: 4;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}
.chatrespon header md-text-button {
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chatrespon .chatlist {
  width: 100%;
  margin-bottom: 140px;
  padding: 0px 14px;
}
.chatrespon .chatlist .message-user, .chatrespon .chatlist .message-system {
  margin-bottom: 9px;
  animation-timing-function: ease-in-out;
  animation: .5s AnimatedMessage;
}
@keyframes AnimatedMessage {
  0%, 20% { margin-top: -10px; opacity: 0; }
  100% { margin-top: 0px; opacity: 1; }
}
.chatrespon .chatlist .message-container {
  margin: 0px 60px;
  padding: 4px 10px;
}
.chatrespon .chatlist .message-container p {
  text-align: end;
  margin: 0px;
  font-size: 13px;
  margin-bottom: 6px;
  padding: 0px 9px;
  user-select: none;
}
.chatrespon .chatlist .message-text {
  padding: 10px 14px;
  background: #e9e9e9;
  border-radius: 20px;
}
.chatrespon .chatlist .message-user {
  display: flex;
  justify-content: flex-end;
}
.chatrespon .chatlist .message-user .message-container {
  margin-right: 0px;
}
.chatrespon .chatlist .message-system {
  display: flex;
  justify-content: flex-start;
}
.chatrespon .chatlist .message-system .message-container {
  margin-left: 0px;
}
.chatrespon .chatlist .message-system .message-container p {
  text-align: start;
}
.chatrespon .chatlist .message-system .message-text {
  background: #e0daff;
}
.chatrespon .inputtext {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 12px;
  background-color: #ffffff;
}
.chatrespon .inputtext .responses-text {
  width: 100%;
  max-width: 600px;
  margin: auto;
}
.chatrespon .inputtext md-outlined-text-field {
  width: calc(100% - 60px);
  min-height: 55px;
  max-height: 200px;
  resize: vertical;
}
.chatrespon .inputtext md-text-button {
  width: 60px;
}
/* .pagestatus {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 14px;
}
.pagesupported {
  width: 100%;
  max-width: 600px;
}
.pagesupported .payloaddown {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.pagesupported .listcontent {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 6px 0px;
  user-select: none;
}
.pagesupported .listcontent .icons {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fab700;
  border-radius: 80px;
  color: #ffffff;
}
.pagesupported .listbtn {
  margin-top: 40px;
}
.pagesupported .listcontent[type-status="success"] .icons {
  background-color: #00c410;
}
.pagesupported .listcontent[type-status="failed"] .icons {
  background-color: #ff0000;
}
.pagesupported .listcontent .texts {
  width: calc(100% - 60px);
  padding-left: 20px;
}
.pagesupported .listcontent .texts h3 {
  margin: 4px 0px;
  margin-bottom: 3px;
}
.pagesupported .listcontent .texts a {
  text-decoration: none;
  color: #603dfe;
}
.pagesupported .listcontent .texts .loading, .pagesupported .listcontent .texts .success, .pagesupported .listcontent .texts .failed {
  display: none;
}
.pagesupported .listcontent[type-status="loading"] .texts .loading {
  display: inline;
}
.pagesupported .listcontent[type-status="success"] .texts .success {
  display: inline;
}
.pagesupported .listcontent[type-status="failed"] .texts .failed {
  display: inline;
}
.pagesupported button {
  padding: 6px 16px;
  background-color: #3d5afe;
  border-radius: 4px;
  border: none;
  margin: 0px 3px;
  color: #ffffff;
  font-weight: 500;
  box-shadow: rgba(0,0,0,0.4) 0px 2px 5px;
  user-select: none;
  cursor: pointer;
} */